<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel='stylesheet' type='text/css' href='Course.css'>
    <link rel='stylesheet' type='text/css' href='Style.css'>
</head>
<body>

    <!-- View: item not started -->
    <div id="itemNotOpened" class="view intermediate itemNotOpened">
        <div class="content">

            <a id="launch" class="label" href="#" onclick="return openInNewWindow()">
                Click here to open the content of the item
            </a>

        </div>
    </div>

    <!-- View: item opened -->
    <div id="itemOpened" class="view intermediate itemOpened" style="display:none;">
        <div class="content">

            <span class="label">
                The content of the item has been opened in a new window.
            </span>

        </div>
    </div>

    <!-- View: item closed -->
    <div id="itemClosed" class="view intermediate itemClosed" style="display:none;">
        <div class="content">

            <span class="label">
                The item has ended.
            </span>

        </div>
    </div>

    <script>

        // Set the current view
        function setView(view)
        {
            var views = document.getElementsByClassName("view");
            for (var i = views.length; i--;)
                views[i].style.display = views[i].id == view ? "" : "none";
        }

        //Open the item in a new window
        function openInNewWindow()
        {
            //Get the url of the item
            var url = getUrlParams()["url"];

            // Try to open in a new window
            var newWindow = openFullscreen(url);
            if (newWindow)
            {
                var onClose = function ()
                {
                    // Close the window.
                    newWindow.close();

                    // Show the "closed" message
                    setView("itemClosed");
                };

                // Scorm2004 API instanciated?
                if (typeof window.parent.API_1484_11 !== 'undefined')
                {
                    // API_1484_11 is instanciated in scorm2004.js.
                    window.parent.API_1484_11.OnCloseCallBack = onClose;
                }
                // Scorm12 API instanciated?
                else if (typeof window.parent.API !== 'undefined')
                {
                    window.parent.API.AddListener(window.parent.API.GetLmsFinishCalledEventName(), onClose);
                }

                // Show the "opened" message
                setView("itemOpened");
            }

            //Prevent the link from navigating
            return false;
        }

        //Gets an object with the parameters passed in the URL as properties
        function getUrlParams()
        {
            return location.search.substr(1).split("&")
                .reduce(
                    function (result, item)
                    {
                        result[item.split("=")[0]] = decodeURIComponent(item.split("=")[1]);
                        return result;
                    }, {});
        }

        /****************************************************************************
        * NAME: openFullscreen
        * DSC.: Opens the specified URL in a full screen popup window.
        * ARG.: url: The URL of the page to open.
        *       name: The name of the window to open.
        * RET.: A reference to the opened window.
        * REM.: This member is static and can be invoked without creating an instance of the class.
        ****************************************************************************/

        function openFullscreen(url, name)
        {
            if (navigator.userAgent.match(/Edge\/\d+/g))
            {
                return window.open(url, name || '_blank', 'width=' + screen.width + ',height=' + screen.height);
            }
            else
            {
                var win = window.open(url, name || '_blank', 'toolbar=0,scrollbars=1,location=0,statusbar=0,menubar=0,resizable=1,fullscreen');
                try
                {
                    if (win.outerWidth < screen.availWidth || win.outerHeight < screen.availHeight)
                    {
                        win.moveTo(0, 0);
                        win.resizeTo(screen.availWidth, screen.availHeight);
                    }
                }
                catch (e)
                {
                }
                return win;
            }
        }

        // Open the new window straight
        openInNewWindow();
    </script>

</body>
</html>