<!DOCTYPE html>
<html>
<head>
	<script>
		// Function called when the window has finished loading
	    window.onload = function ()
	    {
	        // Get the URL parameter
	        var params = getParams();
	        var url = params["url"];
	        if (!url)
	        {
	            alert("Certificate URL is missing.");
	            return;
	        }

            // Resize the certificate frame
	        resizeCertificateFrame();

	        // Load the lesson to the WebInt frame
	        document.getElementById("certificateFrame").src = url;
	    };

	    // Function called when the window is resizing
	    window.onresize = function ()
	    {
	        // Resize the certificate frame
	        resizeCertificateFrame();
	    }

	    // Resize the certificate frame to cover all the available height
	    function resizeCertificateFrame()
	    {
	        var certificateFrame = document.getElementById("certificateFrame"),
                windowHeight = window.innerHeight || document.documentElement.clientHeight || document.body.clientHeight;

	        certificateFrame.style.height = (windowHeight - certificateFrame.offsetTop) + "px";
	    }
		
		// Gets the parameter passed in the URL
		function getParams()
		{
			// Check if URL has parameters
			if (!location.search)
				return {};
			
			// Extract the parameters
			var params = location.search.substr(1).split("&");
			if (!params.length)
				return {};
			
			// Build a dictionary of parameters
			var dictionary = {};
			for (var i = params.length; i--; )
			{
				var keyValue = params[i].split("=");
				dictionary[keyValue[0]] = (keyValue[1] && decodeURIComponent(keyValue[1])) || null;
			}
			
			// Return the parameters
			return dictionary;
        };

        // Trigger for the certificateFrame onload: launch the window opener callback
        function Certificate_Loaded(certificateFrame)
        {
            if (certificateFrame.src == "about:blank")
                return;

            var openerWindow = window.opener || window.parent;
            if (openerWindow && !openerWindow.closed)
            {
                var callback = openerWindow.CertificateLoaded;
                if (callback)
                    callback(certificateFrame.contentWindow);
            }
        }

		// Print the certificate
		function printCertificate()
		{
		   document.getElementById("certificateFrame").contentWindow.print();
		}
		
	</script>
	<style type="text/css">
		body
		{
			font-family: sans-serif;
			overflow: hidden;
		}
		
		a
		{
		      text-decoration: none;
		      color: #DB5500;
		      font-size: 17px;
		}
		
		#printHeader
		{
		    height:20px;
		    margin: 0;
		    border-bottom: 1px solid gray;
		}
    </style>
</head>

<body>
	<div id="printHeader">
		<a href="#" onclick="printCertificate();">Print</a>
	</div>
	
    <iframe id="certificateFrame" src="about:blank" onload="Certificate_Loaded(this);"
		    style="position: absolute; left: 0; right: 0; top: 40px; bottom: 0; overflow: auto; width: 100%; height: 100%; border: none">
	</iframe>
</body>

</html>







